* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Mono", Noto Sans;
    font-size: 16px;
    padding: 2.5px 0px 2.5px 0px;
    color: #ffffff;
}
 
#waybar {
    background-color: #000000;
    color: #ffffff;
}
 
#workspaces button {
    padding: 0 5px;
}
 
#clock,
#pulseaudio,
#bluetooth,
#network,
#tray,
#custom {
    padding: 0 10px;
    color: #ffffff;
}
#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    padding: 0 10px;
}
